<%= @letters %>

<%= 'What is the longest word you can find?' %>

<form action="score" method="post">
  <input type="text" name="word">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
